#start,
#pause,
#reset {
  background-color: aqua;
  border-radius: 50%;
  font-size: 64px;
  color: orange;
  display: inline-block;
  text-align: center;
}

div {
  text-align: center;
  font-size: 32px;
}

p {
  height: auto;
  text-align: center;
  font-size: 100px;
}
